# MicroPython-specific files
boot.py
webrepl_cfg.py
*.mpy
__pycache__/
.micropython/
.venv/

# Generic Python files
*.pyc                   # Compiled Python files.
*.pyd                   # Python dynamic modules.
*.pyo                   # Optimized compiled Python files.
.env                    # Environment variable files.

# Common backup and log files
*.log                   # Log files.
*.bak                   # Backup files.

# Editor and IDE files
.idea/
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/libraries
*.iws
.idea_modules/

# System files
Thumbs.db
